{% extends 'base.html' %}
{% block content %}


    <div class="row mt-4">
        <div class="col">
<h2>Add Item</h2>
            <form action="add_todo" method="post" class="form-inline">
            <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="type here...">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
        </div>
    </div>
<div class="row mt-4">
    <div class="col">
        <ul class="list-group">
            {% for todo in todo %}
            <li class="list-group-item">{{todo.text}}
                <li class="list-group-item btn btn-sm btn-success">{{todo.added_date}}

                    <form action="delete_todo/{{todo.id}}/" method="post">
            <button type="submit" class="btn btn-sm btn-danger float-right">Delete</button>
                        </form>
                </li>

            {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}